@import "tailwindcss";


@layer base {
  @font-face {
    font-family: 'iransans-500';
    src: url('fonts/IRANSansX-Medium500.woff');
  }

  @font-face {
    font-family: 'iransans-400';
    src: url('fonts/IRANSansX-Regular400.woff');
  }



  body {
    direction: rtl;
    max-width: 2000px;
    margin: auto;
    overflow-x: hidden;
  }


}

@theme{
  /*==============COLORS===============*/
  --color-sec: #BB7342;

  /*==============FONTS===============*/
  --font-500: iranSans-500;
  --font-400: iranSans-400;

  /*==============SHADOWS===============*/
  --shadow-1: 0 0 4px 0 #00000040;
}




