@import "tailwindcss";


@layer base {

    @font-face {
        font-family: 'iransans-700';
        src: url('fonts/IRANSansX-Bold700.woff');
    }
    @font-face {
        font-family: 'iransans-500';
        src: url('fonts/IRANSansX-Medium500.woff');
    }

    @font-face {
        font-family: 'iransans-400';
        src: url('fonts/IRANSansX-Regular400.woff');
    }

html{

        scroll-behavior: smooth;
}

    body {
        direction: rtl;
        max-width: 2000px;
        margin: auto;
        overflow-x: hidden;
    }
    .phone-shake {
        animation: phoneShake 4s ease-in-out infinite;
    }

    @keyframes phoneShake {
        0%   { transform: rotate(0); }
        15%  { transform: rotate(-15deg); }
        20%  { transform: rotate(15deg); }
        25%  { transform: rotate(0); }
        30%  { transform: rotate(-15deg); }
        35%  { transform: rotate(15deg); }
        40%  { transform: rotate(0); }
        45%  { transform: rotate(-15deg); }
        50%  { transform: rotate(15deg); }
        55%  { transform: rotate(0); }

        100% { transform: rotate(0); }
    }



    /*#hero {*/
    /*    background: url("@media/images/hero.webp") center center no-repeat;*/
    /*    background-size: contain;*/
    /*}*/

    .glass-blur-gradient-bg {
        background: linear-gradient(#FFFFFF66, #FFFFFF00);
        box-shadow: -5px -5px 250px 0 #FFFFFF05 inset;
        backdrop-filter: blur(5px);
    }

    @media screen and (max-width: 500px) {
        .glass-blur-gradient-bg {
            backdrop-filter: blur(20px);
        }
    }


    .glass-blur-bg {
        background: #FFFFFF33;
        box-shadow: -5px -5px 250px 0 #FFFFFF05 inset;
        backdrop-filter: blur(5px);
    }

}

@theme{
    /*==============COLORS===============*/
    --color-prim: #DE972F;
    --color-sec: #CEB08A;
    --color-prim-hover: #dca451;
    --color-muted-48: #484848;
    --color-muted-29: #292929;
    --color-muted-40: #404040;
    --color-muted-31: #313131;

    /*==============FONTS===============*/
    --font-700: iranSans-700;
    --font-500: iranSans-500;
    --font-400: iranSans-400;

    /*==============SHADOWS===============*/
    --shadow-1: 0 0 4px 0 #00000040;
}




